.landing {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top ,rgb(225, 244, 249),rgba(225, 244, 249,.5),rgba(225, 244, 249,.2),rgba(255,255,255,.5)),url(../img/landinga.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    
}
.landingfont1 {
    font-size: 4em;
}
.landingfont2 {
    font-size: 5em;
}
.jumbotron ,.service  {
    background-color: rgb(225, 244, 249) ;
    
}

.profileImg {
    width: 300px;
    height: 300px;
    
}
.workup {
    
    background-image: linear-gradient(to left, rgb(225, 244, 249)  ,rgb(124,243,210),white,rgb(225, 244, 249));
}



.linkjumb {
   font-size: 1.2em; 
   color: white;
   
}
.linkjumb:hover {
    color: white;
}

.logoSkill {
    width: 50px;
}
/* @media screen and (max-width: 576px) {
    .landing {
        background-position: -50px 0;
    }
} */